html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

/* * {
  outline: 1px solid green; 
} */

button {
  background-color: #00000000;
  border: none;
  text-align: center;
  width: 120px;
}

@font-face {
  font-family: demon_handwriting;
  src: url("../styles/fonts/demon_handwriting.otf");
}

.name {
  width: 100%;
  text-align: center;
  color: white;
}

.about_button,
.contact_button,
.home_button,
.website_button,
.design_button {
  position: fixed;
  margin-left: -75px;
  z-index: 100;
}

.about_button {
  top: 5px;
  left: 50%;
}

.home_button {
  left: 50%;
  top: 50%;
}

.contact_button {
  top: 90%;
  right: 50%;
  margin-right: -75px;
}

.design_button {
  left: 120px;
  top: 45%;
  transform: rotate(90deg);
}

.website_button {
  right: 5px;
  top: 50%;
  transform: rotate(-90deg);
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main_name,
.second_name {
  height: 20vh;
  position: absolute;
}

.main_name {
  top: 9vh;
}

.second_name {
  bottom: 4vh;
}

.back_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
}

.main.inverted {
  filter: invert(1);
  -webkit-mask-image: url("../img/first_glitch.gif");
  mask-image: url("../img/first_glitch.gif");
  object-fit: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: auto 20vh;
  position: absolute;
  top: 0;
  left: 0;
  mask-position: 25vw 30vh;
  animation: 2s ease-out 0s 1 slideInFromLeft;
}
.main.inverted2 {
  filter: invert(1);
  -webkit-mask-image: url("../img/second_glitch.gif");
  mask-image: url("../img/second_glitch.gif");
  object-fit: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: auto 20vh;
  position: absolute;
  top: 0;
  left: 0;
  mask-position: 30vw 50vh;
  animation: 2s ease-out 0s 1 slideInFromRight;
}

.main.inverted3 {
  filter: invert(1);
  -webkit-mask-image: url("../img/third_glitch.webp");
  mask-image: url("../img/third_glitch.webp");
  object-fit: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: auto 6vh;
  position: absolute;
  top: 0;
  left: 0;
  mask-position: 50vw 68vh;
  animation: 3s ease-out 0s 1 slideInFromLeftAlso;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(200%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromLeftAlso {
  0% {
    transform: translateX(200%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

h1 {
  position: relative;
  color: #ffffff;
  font-family: demon_handwriting, "Lucida Handwriting", Georgia;
  font-size: 120%;
}

.designs_left_holder,
.websites_right_holder,
.contact_bottom_holder,
.about_top_holder {
  background: rgba(0, 0, 0, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  transition: ease-in-out all 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: left center;
  z-index: 10;
  transition: ease-in-out all 0.25s;
}

.designs_left_holder {
  transform: translateX(-100%);
}

.websites_right_holder {
  transform: translateX(100%);
}

.contact_bottom_holder {
  transform: translateY(100%);
}
.about_top_holder {
  transform: translateY(-100%);
}

.main,
.websites_right_holder,
.designs_left_holder,
.contact_bottom_holder,
.about_top_holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.design_open {
  transform: translateX(0); /* Open state */
}

.design_closed {
  transform: translateX(-100%); /* Closed state */
}

.contact_open {
  transform: translateY(0);
}
.contact_closed {
  transform: translateY(100%);
}

.website_open {
  transform: translateX(0);
}

.website_closed {
  transform: translateX(100%);
}
.about_open {
  transform: translateY(0);
}

.about_closed {
  transform: translateY(-100%);
}

#typeform-container {
  z-index: 1000;
}

.main_link_holder h1,
.desktop_nav h1 {
  font-size: 300%;
  cursor: pointer;
  transition: ease-in-out all 0.15s;
}
.main_link_holder h1:hover,
.desktop_nav h1:hover {
  transform: scale(1.3);
}

.main_link_holder {
  padding: 0 50px;
  bottom: 60px;
}

.about_button,
.contact_button,
.home_button,
.website_button,
.design_button {
  display: none;
}

.desktop_nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 20%;
  right: 20%;
  bottom: 50px;
  z-index: 100;
}

.about_holder {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.about_info_holder {
  width: 80%;
  height: 90%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.profile_image_holder {
  width: 35%;
  height: 70vh;
  border-radius: 0px 20px 0px 20px;
  object-fit: cover;
  object-position: center top;
  position: relative;
}

.about_title {
  font-family: demon_handwriting, "Lucida Handwriting", Georgia;
  color: #e7e7e7;
}

.about_info {
  width: 60%;
  height: 70vh;
  background: rgba(10, 10, 10, 0.71);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(10, 10, 10, 0.02);
  padding: 20px;
  border-radius: 20px 0px 20px 0px;
  max-height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: clamp(0.75rem, 0.82vw, 1rem);
}

.about_profile_front {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  border-radius: 0px 20px 0px 20px;
}

.about_para {
  color: #e7e7e7;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.contact_bottom_holder {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.contact_info_holder {
  width: 60%;
  height: 90%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

.contact_info_holder div {
  width: 100%;
  border: solid 1px #b12323;
  border-radius: 10px;
}

.birb {
  position: absolute;
  top: 5vw;
  right: 15vh;
  width: 20vw;
  height: auto;
}

.photography_holder {
  width: 90%;
  height: 70%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.moving_box {
  width: 49%;
  height: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in all 1s;
  position: absolute;
}

.moving_box_1 {
  top: 0%;
  left: 0%;
}
.moving_box_2 {
  top: 0%;
  right: 0%;
}
.moving_box_3 {
  bottom: 0%;
  left: 0%;
}
.moving_box_4 {
  bottom: 0%;
  right: 0%;
}

.portrait_image,
.location_image,
.music_image,
.cosplay_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  z-index: 5;
  transition: all ease-in-out 0.65s;
  margin: 0;
}

.photo_title_holder {
  position: absolute;
  z-index: 11;
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #fff;
  cursor: pointer;
  top: 20%;
  transition: ease-in all 1s;
  text-shadow: 3px 6px 6px rgba(0, 0, 0, 0.64);
}

.photo_title,
.photo_sub {
  width: 100%;
}

.photo_title {
  font-size: 3rem;
  margin-bottom: 5px;
}

.red_tint_cosplay,
.red_tint_music,
.red_tint_location,
.red_tint_portraits {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #973131;
  mix-blend-mode: darken;
  z-index: 10;
  transition: all ease-in-out 0.5s;
  opacity: 1;
  cursor: pointer;
  display: relative;
}

.moving_box_1:hover .red_tint_location,
.moving_box_2:hover .red_tint_portraits,
.moving_box_3:hover .red_tint_music,
.moving_box_4:hover .red_tint_cosplay {
  opacity: 0;
}

.moving_box_1:hover .location_image,
.moving_box_2:hover .portrait_image,
.moving_box_3:hover .music_image,
.moving_box_4:hover .cosplay_image {
  object-position: center 15%;
}

.moving_box_1:hover.left_side .location_image,
.moving_box_2:hover.left_side .portrait_image,
.moving_box_3:hover.left_side .music_image,
.moving_box_4:hover.left_side .cosplay_image {
  object-position: center top;
}

.moving_box_1 {
  top: 0%;
  left: 0%;
  width: 49%;
  height: 49%;
}
.moving_box_2 {
  top: 0%;
  left: 51%;
  width: 49%;
  height: 49%;
}
.moving_box_3 {
  top: 51%;
  left: 0%;
  width: 49%;
  height: 49%;
}
.moving_box_4 {
  top: 51%;
  left: 51%;
  width: 49%;
  height: 49%;
}

.left_side {
  top: 0%;
  left: 0%;
  width: 76%;
  height: 100%;
}

.right_side_1 {
  top: 0%;
  left: 77%;
  width: 23%;
  height: 32%;
}

.right_side_2 {
  top: 34%;
  left: 77%;
  width: 23%;
  height: 32%;
}

.right_side_3 {
  top: 68%;
  left: 77%;
  width: 23%;
  height: 32%;
}

.moving_box_1.left_side .red_tint_location,
.moving_box_2.left_side .red_tint_portraits,
.moving_box_3.left_side .red_tint_music,
.moving_box_4.left_side .red_tint_cosplay {
  display: none;
}

.moving_box_1.right_side_1:hover .red_tint_location,
.moving_box_1.right_side_2:hover .red_tint_location,
.moving_box_1.right_side_3:hover .red_tint_location,
.moving_box_2.right_side_1:hover .red_tint_portraits,
.moving_box_2.right_side_2:hover .red_tint_portraits,
.moving_box_2.right_side_3:hover .red_tint_portraits,
.moving_box_3.right_side_1:hover .red_tint_music,
.moving_box_3.right_side_2:hover .red_tint_music,
.moving_box_3.right_side_3:hover .red_tint_music,
.moving_box_4.right_side_1:hover
  .red_tint_cosplay
  .moving_box_4.right_side_2:hover
  .red_tint_cosplay
  .moving_box_4.right_side_3:hover
  .red_tint_cosplay {
  opacity: 1;
}

.all_picture_holder_location,
.all_picture_holder_music,
.all_picture_holder_cosplay,
.all_picture_holder_portraits {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.open_photos .all_picture_holder_location,
.open_photos .all_picture_holder_music,
.open_photos .all_picture_holder_cosplay,
.open_photos .all_picture_holder_portraits {
  position: relative;
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: flex-start;
}

.open_photos .all_picture_holder_location img,
.open_photos .all_picture_holder_music img,
.open_photos .all_picture_holder_cosplay img,
.open_photos .all_picture_holder_portraits img {
  position: relative;
  margin: 1px 2px;
  width: 49%;
  height: auto;
  display: block;
}

.photo_title_holder > :nth-child(2) {
  opacity: 1;
  transition: ease-out all 1s;
}

.open_photos .photo_title_holder > :nth-child(2) {
  opacity: 0;
}

.left_side .photo_title_holder {
  top: 1%;
}

.location_image,
.cosplay_image,
.portrait_image,
.music_image {
  cursor: pointer;
}

[data-tf-live] {
  min-height: 60vh;
  width: 100%;
  display: block;
}

@media only screen and (max-width: 600px) {
  .desktop_nav {
    font-size: 1rem;
  }

  .main.inverted {
    animation: 0;
    mask-size: auto;
    mask-position: 10vw 30vh;
    mask-repeat: no-repeat;
  }
  .main.inverted2 {
    animation: 0;
    mask-size: auto;
    mask-position: 10vw 50vh;
    mask-repeat: no-repeat;
  }
  .main.inverted3 {
    animation: 0;
    mask-size: auto;
    mask-position: 50vw 70vh;
    mask-repeat: no-repeat;
  }

  .left_side {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 65%;
  }

  .right_side_1 {
    top: 65%;
    left: 0%;
    width: 32%;
    height: 34%;
    font-size: 1rem;
  }

  .right_side_2 {
    top: 65%;
    left: 34%;
    width: 32%;
    height: 34%;
    font-size: 1rem;
  }

  .right_side_3 {
    top: 65%;
    left: 68%;
    width: 32%;
    height: 34%;
  }

  .open_photos .all_picture_holder_location img,
  .open_photos .all_picture_holder_music img,
  .open_photos .all_picture_holder_cosplay img,
  .open_photos .all_picture_holder_portraits img {
    width: 100%;
  }

  .photography_holder {
    height: 90%;
  }

  .right_side_1 .photo_title_holder h2,
  .right_side_2 .photo_title_holder h2,
  .right_side_3 .photo_title_holder h2 {
    font-size: 1.5rem;
  }
  .right_side_1 .photo_title_holder h3,
  .right_side_2 .photo_title_holder h3,
  .right_side_3 .photo_title_holder h3 {
    font-size: 1.2rem;
  }

  .desktop_nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 5%;
    right: 5%;
    bottom: 50px;
    z-index: 100;
  }

  .main_link_holder h1,
  .desktop_nav h1 {
    font-size: 150%;
  }
}
